* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eaeded;
}

header {
  background-color: #222f3e;
}

main {
  width: 98%;
  margin: 0 auto;
}

.giftCardTitle {
  color: #fff;
  padding: 20px;
}

.logo img {
  width: 150px;
  height: auto;
  margin-top: 10px;
  margin-left: 30px;
}

nav {
  background-color: #354758;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin-left: 15px;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.bannerTitle {
  color: #fff;
  background-color: #f56600;
  text-align: center;
  padding: 10px;
  margin: 30px 0;
}

.giftCard {
  height: 200px;
  background-color: #2f6e5f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.giftCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-image: url("./assets/bg-image.png");
  background-repeat: repeat;
  background-size: auto 65%;
  background-position: top left;
}

.giftCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-image: url("./assets/bg-image.png");
  background-repeat: repeat;
  background-size: auto 65%;
  background-position: top right;
}

.giftCard p {
  font-weight: bold;
  color: #fff;
}

.galleryItems {
  margin-top: 30px;
  background-color: #fff;
}

.imgItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 15px;
}

.imgItems img {
  margin-bottom: 20px;
  width: 24%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(8, 0, 0, 0.17);
}

.galleryText {
  display: flex;
  padding: 10px;
  text-align: left;
  justify-content: flex-start;
  align-items: baseline;
}

.galleryTitle {
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 8px;
}

.shopNow {
  margin-left: 20px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #057387;
}

.sectionExtra {
  gap: 20px;
  margin-top: 30px;
}

.imgExtragaming {
  display: column;
  grid-template-columns: repeat(2, 1fr);
}

.imgExtragaming img { 
  width: 20%;
  height: 200px;
  object-fit: cover;
}

.sectionExtraTitle {
  text-align: center;
}
.seeMore {
  color:#057387;
  text-decoration: none;
  display: flex;
  justify-content: left;
  margin-top: 30px;
}

.galleryItemslarge {
  margin-top: 30px;
}

.imgItemslarge img {
  width: 100%;
  object-fit: cover;
}

.galleryTextlarge {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 40px;
}

.footerText {
  background-color: #222f3e;
}

.backToTop {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #354758;
  padding: 10px;
}

.amazonLogo {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0px auto; 
  padding: 40px 0px;
}


