@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Jersey+15&family=Lilita+One&family=Mate:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,60<PASSWORD>;1,7<PASSWORD>;1,8<PASSWORD>;1,9<PASSWORD>&family=Reenie+Beanie&family=Silkscreen:wght@4<PASSWORD>;7<PASSWORD>&family=VT323&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: left;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Boogaloo", cursive;
  color: #ff6347;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #555;
}

input[type="text"],
input[type="email"],    
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #ff6347;
  border-color: #ff6347;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  display: block;
  text-align: center;
  font-size: 12px;
}

button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4500;
}